<!DOCTYPE html>
<html>
<head>
<style>
mark {
    background-color: green;
    color: white;
}
</style>
</head>
<body>
<h1>Jim Hollingworth</h1>
<br/>
<p>Here is a picture of me </p>
<img src="jim.png">
<br/>
<p><mark>I am from los altos</mark></p>
<br/>
<p>I am a freshman</p>
<br/>
<h1 style="color:red;"><b>All polar bears are left-handed</h1></p>
<br/>
<p style="color:purple;"><u>I want to use this class to make a webcomic!</u></p>


</body>
</html>

